#resumeHeader { 
    text-align: left;
    background-color: #797ae3;
    color: white;
    font-family: Verdana;
  }


  .headElem {
    padding-left: 5%;
  }

  #myName {
    padding-top: 1%;
  }
   #contactInfo {
     padding-bottom: 2%;
  }
 
  #aboutMe {
    margin-top: 10%;
  }

  #content {
    margin-top: 1%;
  }

  .btn {
    border-style: none;
    background-color: #797ae3;
    width: 300px;
    padding: 15px 32px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: white;
    font-size: 22px;
    display: block;
  }

  .btn:hover{
    background-color: #6465bb;
    color: white;
  }

  .btn:active{
    background-color: white;
    color: black;
  }

 p,h4 {
    font-size: 1.25em;
    font-family: Verdana;
  }

  h3 {
    font-size: 1.6em;
  }
  h3,h4 {
    font-weight: bold;
  }

  #content { 
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 15%;
    font-family: Verdana;
  }